# Ignore virtual environments
venv/
.venv/
__pycache__/

# Ignore generated media files (runtime outputs)
*.jpg
*.pdf
*.mp3

# Ignore model weights
backend/model/best.pt

# Ignore environment files
.env
.history/

# VSCode or IDE specific (optional but recommended)
.vscode/
.idea/
